<% if current_user.username == message.user.username%>
<%= message.user.username%>
     <div class="message__content" id="message-container">                
          <%= message.message_body %>                   
          <div class="text-right">
               <small>
                    <%= message.created_at %>
               </small> 
          </div> 
     </div>
<% end %>
