<div class="row">
   <div class="col-12 col-md-3">
    <%= render partial: 'shared/user' %>
   </div>
   <div class="col mt-5">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome <%= current_user.username%>!
      </h4>
      <hr />
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
          enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
</div>
