.avatar {
    color: #fff;
    font-size: 1.2rem;
  }

.navbar div.logo a{
    font-weight: 100;
    font-size: 2rem;
    color: #f9f1f1;
}
.navbar div.logo a span {
    text-decoration: none;
    color: #f9f1f1;
    font-size: 2rem;
    font-weight: 900;
}

.navbar div.logo a:hover{
    text-decoration: none;
}

.navbar div.dropdown .navbar-link:hover{
  text-decoration: none;
  color: #101010;
}

